<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Welcome to the App</h1>
    <form action="/auth/token" method="post">
        <label for="username">First name:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Last name:</label><br>
        <input type="password" id="password" name="password">
        <input type="submit">
      </form>
</body>
</html>